[init]
  defaultBranch = main

[user]
# Please adapt and uncomment the following lines:
	name = Qiushi Yan
useConfigOnly = true
	email = qiushi.yann@gmail.com

[include]
  path = ~/.gitconfig.personal

[includeIf "gitdir:~/dev/"]
  path = ~/.gitconfig.personal

[includeIf "gitdir:~/dev/marswave/"]
  path = ~/.gitconfig.marswave

[core]
editor = nvim
# Global excludes live at the default location ~/.config/git/ignore
# (stowed from git/.config/git/ignore in this repo).
[submodule]
recurse = true
[init]
defaultBranch = main
[commit]
# https://help.github.com/articles/signing-commits-using-gpg/
gpgsign = false
[http]
postBuffer = 524288000
[push]
default = current
[https]

[alias]
undo = reset --soft
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
